<% include header  %>
	<div class="container">
		<div class="errorHeader"><center> <%- msg; %> </center></div>
		<br />
		<center>
			<img style="height: 70%;" src="https://i.imgflip.com/j69nf.jpg" />
			<br />
			<%- error %>
		</center>
	</div>
<% include scripts %>
<% include footer %>