<html>
	<head>
		<title><%- title %></title>
		<!-- link href="public/css/bootstrap.min.css" type="stylesheet" / -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
	
	<% include ./subheader %>