<% include header %>
<style>
	body{
		margin: 0px;
	}
	#wrapper {
		width: 425px;
		margin: auto;
	}
	ul {
		font-size: 20pt;
		list-style-type: upper-roman;
		margin-left: 2em;
	}
</style>
<div id="wrapper">
	<center><h1>Projects Revamped</h1></center>

	<img src="../images/bored.png" style="width: 400px;" />
	<ul>
		<li><a href="/Students">Students</a></li>
		<li><a href="/Projects/Wall">Facebook Wall</a></li>
		<li><a href="/Projects/Movies">Movie Search</a></li>
	</ul>
</div>

<% include footer %>