<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<ul class="nav navbar-nav">
				<li><a href="/">
						<img src="http://biz.prlog.org/scripted/logo.jpg" style="height: 3%; width: 25px;" />
					</a>
				</li>
				<li><a href="/">Student UI/UX Demo</a></li>
			</ul>
		</div>
	</div>
</nav>